.bg-menu{
    background-color: #073b59;
}
.navbar-nav li a{
    color: white !important;
    border-bottom: 4px solid  #073b59 !important;

}
.navbar-nav li a:hover{
    color: white !important;
    border-bottom: 4px solid  #fe5000cc !important;
}

.navbar-nav li{
    padding: 0 20px !important;
}

.dropdown-menu{
    background-color: #073b59 !important;
}
.card-cor{
    color: #ffff;
}

.dropdown-menu li a:hover{
    color: #000000 !important;
    background-color: fe5000cc;
}
#noticias{
    background-color: rgb(224, 222, 222);
}

.card-icon svg{
    width: 3rem;
    height: 3rem;
    color: #ffff;
    margin: 1rem;
}
.card-back{
    display: flex;
    width: 20rem;
    height: 11rem;
    background-color: #073b59;
}
.card-titulo{
    color: #ffff;
    margin-top: 1rem;
}
.card-texto{
    color: #ffff;
}
.card-format{
    display: flex;
    margin: 2rem 14rem;
    gap: 4rem;
}
.card-not-img{
    width: 3rem;
    height: 3rem;
}
.info-text{
    margin: 3rem 0 0 0;
    text-align: center;
}
.info-text h3{
    color: #073b59;
}
.card-not{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 2rem auto;
}

.card-not .card{
    width: 14rem; /* diminui largura */
    border: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    border-radius: 10px;
    overflow: hidden;
}

.card-not-corpo{
    padding: 1rem;
}
.card-not-corpo a {
   margin: 0 2.3rem;
}

.card-not-img{
    width: 100%;
    height: 140px; /* altura menor */
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.card-not-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title{
    font-size: 1rem;
}

.card-text{
    font-size: 0.85rem;
}

.footer{
    background-color: #073b59;
    color: white;
    text-align: center;
    padding: 3rem 1rem;
}

.footer p{
    margin-bottom: 2rem;
    font-size: 1rem;
}

.btn-topo{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 45px;
    height: 45px;

    border: 2px solid white;
    border-radius: 50%;

    color: white;
    font-size: 1.2rem;

    text-decoration: none;
    transition: 0.3s;
}

.btn-topo:hover{
    background-color: white;
    color: #073b59;
    transform: translateY(-3px);
}
